html, body{
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}
h3 {
  font-family: Verdana;
  font-size: 21px;
  color: grey;
 text-align: center;
}
.text-section .container p {
  color: grey;
  font-size: 21px;
  text-align: center;
}
.excursion {
  text-align: center;
}
.video-section {
  position: center;
  width: 100%;
  top: 50px;
  left: 0;
  right: 0;
}

.footer {
  color: grey;
  text-align: right;
}
#download {
  color: aquamarine;
}
