html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  }

.container {
  max-width: 940px;
  margin: 0 auto;
}
.video-section h1 {
  color: white;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.video-section image {
  color: aguamarine;
}
.text-section {
  color: white;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 130px;
}

.text-section h2 {
  font-size: 48px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-section p {
  color: grey;
  font-size: 21px;
  padding: 0 30px;
}

.feature-section {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/excursion/camp.png") no-repeat center center;
  background-size: cover;
  height: 500px;
}

.app {
  color: white;
  width: 87px;
}

.footer {
  padding: 30px;
  background-color: black;
  font-size: 32px;
  color: white;
  text-align: right;
}

.video-section {
  position: relative;
  }
 .video-section video {
   width: 50%;
 }
 .video-section .section-content {
  position: absolute
  top: 200px;
  width: 100%;
  text-align: center;
  color: aquamarine;
  left: 0;
  right: 0;
  margin: 0 auto;
}

  .video-section video {

    height: 540px;
    width: 960px;
  }
